# Better Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000

# Vercel Blob
BLOB_READ_WRITE_TOKEN=your-vercel-blob-token

# Neon DB
DATABASE_URL=postgresql://user:password@localhost:5432/database

# Google Auth
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe * TEST * Payment Confirmation URL
NEXT_PUBLIC_PAYMENT_CONFIRMATION_URL=http://localhost:3000/payment-test/confirmation

# Stripe * TEST * Publishable key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key

# Open AI API
OPENAI_API_KEY=your-openai-api-key

# Open Cage Geocoding
OPENCAGE_API_KEY=your-opencage-api-key

# Parameters for constructing your own connection string
PGHOST=your-postgres-host
PGHOST_UNPOOLED=your-postgres-host-unpooled
PGUSER=your-postgres-user
PGDATABASE=your-postgres-database
PGPASSWORD=your-postgres-password

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://your-postgres-user:your-postgres-password@your-postgres-host/your-postgres-database?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://your-postgres-user:your-postgres-password@your-postgres-host/your-postgres-database?sslmode=require
POSTGRES_USER=your-postgres-user
POSTGRES_HOST=your-postgres-host
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DATABASE=your-postgres-database
POSTGRES_URL_NO_SSL=postgres://your-postgres-user:your-postgres-password@your-postgres-host/your-postgres-database?sslmode=require
POSTGRES_PRISMA_URL=postgres://your-postgres-user:your-postgres-password@your-postgres-host/your-postgres-database?connect_timeout=15&sslmode=require

# Resend SMTP Server
RESEND_API_KEY=your-resend-api-key

# Sentry
SENTRY_DSN=your-sentry-dsn
NEXT_PUBLIC_SENTRY_DSN=your-sentry-dsn

# Serp pricing API 
SERP_API_KEY=your-serp-api-key

# Stripe TEST
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

 